<h2>Drop image here</h2>

<input type="file" id="imguploader">

<div id="dropbox" class="img-box">
  <div id="imagebox"></div>
  <image id="image">
</div>

<% 5.times do |number| %>
  <div class="swatch-box" id="swatch<%= number %>"></div>
<% end %>

<%= form_tag '/palette' do %>
  <%= hidden_field_tag :color_array, nil, id: 'color_array' %>
  <%= submit_tag 'Save' %>
<% end %>