<h2>Drop image here</h2>
<div id="dropbox" class="img-box">
  <div id="imagebox"></div>
</div>

<div class="swatch-box" id="swatch1"></div>
<div class="swatch-box" id="swatch2"></div>
<div class="swatch-box" id="swatch3"></div>
<div class="swatch-box" id="swatch4"></div>
<div class="swatch-box" id="swatch5"></div>
<div class="swatch-box" id="swatch6"></div>
